<!DOCTYPE html>
<html>
	<head>
		<title>signup</title>
		<link rel="stylesheet" href="../static/styles/signup.css">
		<link rel="icon" href="../static/images/mini-icon-2.png">
	</head>
	<body>

		<!--Import necessary library files-->
		<script src="https://kit.fontawesome.com/7d3bc7f2d4.js" crossorigin="anonymous"></script>


		<div class="center">
	 	<div class="center">
			<h1><i class="fa-solid fa-user-plus"></i> &nbsp; Sign Up</h1>
			<form method="post" action="/signup">
			<div class="txt_field">
				<i class="fa-solid fa-marker"></i><input type="text" name="" placeholder="First name">
				<i class="fa-solid fa-marker"></i><input type="text" name="" placeholder="Last name">
				<i class="fa-solid fa-envelope"></i><input type="email" name="" placeholder="Email">
				<i class="fa-solid fa-unlock-keyhole"></i><input type="password" name="" placeholder="Password">
				<i class="fa-solid fa-unlock-keyhole"></i><input type="password" name="" placeholder="Confim Password">
			</div>
			<div class="login">
				Already a member?<a href="/login">Log in</a>
			</div>
			<button type="submit"><b>Sign up</b></button>
			</form>
		</div>
	</body>
</html>